* {
	margin: 0;
	padding: 0;
}
.wrapper {
	width: 100%;
}

/**************************************HEADER************************************/
.header {
	width: 100%;
	height: 30vh;
	background: url(image/fon2.jpg);
	position: relative;
}
#logo {
	width: 600px;
	height: 200px;
	position: absolute;
	top: 30px;
	left: 3%;
}
#logo2 {
	width: 600px;
	height: 200px;
	position: absolute;
	top: 30px;
	right: 3%;
}
#logo:hover {
	width: 630px;
	height: 230px;
}
#logo2:hover {
	width: 630px;
	height: 230px;
}
#logo3 {
	width: 350px;
	height: 230px;
	display: block;
	margin: auto;
}
#logo3:hover {
	width: 430px;
	height: 260px;
}
.input {
	background-color: #FD4848;
}
/************************************************/
.footer {
	width: 100%;
	height: 10vh;
	background:url(image/fon2.jpg);
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
.main_content {
	width: 100%;
	height: 60vh;
}
.content {
	width: 60%;
	background-color: #AAC2E2;
	float: left;
	height: 60vh;
}
.sidebar {
	width: 40%;
	background-color: #E6D3D3;
	height: 60vh;
	float: left;
}
.table1{
	margin: 20px;
	padding: 20px;
	border: 3px solid #000;
	border-radius: 10px;
}
.th1{
	margin: 5px;
	padding: 5px;
	border: 3px solid #000;
	border-radius: 10px;
}
#table1
{
	position: relative;
	left: 50px;
	top: 25px;
}

/********************************************* Адаптивные запросы****************************************/
@media screen and (max-width: 1600px) {
	#logo, #logo2 {
		width: 450px;
		height: 150px;
	}
	#logo:hover {
		width: 500px;
		height: 200px;
	}
	#logo2:hover {
		width: 500px;
		height: 200px;
	}
	#logo3 {
		width: 350px;
		height: 240px;
	}
}