body
{
	margin:0;
	padding:0;
	background:url(image/fon1.jpg);
}
.ul1
{
	font-size:17pt;
	margin-top: 50px;
}
.li1
{
	display:inline;
	padding: 100px;
	
}
.img1
{
	border: 3px solid #fff;
	border-radius: 100px;
}
#foto{
	width: 100px;
	height: 100px;
	border: 1px solid transparent;
	border-radius: 100px;
}