* {
	margin: 0;
	padding: 0;
}
.wrapper {
	width: 100%;
}

/**************************************HEADER************************************/
.header {
	width: 100%;
	height: 30vh;
	background:linear-gradient(to bottom,#4169E1,white);
	/*background: url(image/fon2.jpg);
	*/position: relative;
}
#logo {
	width: 600px;
	height: 200px;
	position: absolute;
	top: 30px;
	left: 3%;
}
#logo2 {
	width: 600px;
	height: 200px;
	position: absolute;
	top: 30px;
	right: 3%;
}
#logo:hover {
	width: 630px;
	height: 230px;
}
#logo2:hover {
	width: 630px;
	height: 230px;
}
#logo3 {
	width: 300px;
	height: 210px;
	display: block;
	margin: auto;
}
#logo3:hover {
	width: 350px;
	height: 230px;
}
.input {
	background-color: #4169E1;
	height:30px;
}
/************************************************/
.footer {
	width: 100%;
	height: 10vh;
	background:url(image/fon2.jpg);
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
.main_content {
	width: 100%;
	min-height: 100%;
}
.content {
	width: 60%;
	background-color: #AAC2E2;
	float: left;
	height: 60vh;
}
.sidebar {
	width: 40%;
	background-color: #E6D3D3;
	height: 60vh;
	float: left;
}
.table1{
	position:relative;
	margin: 20px;
	padding: 20px;
	
}
.th1{
	background:linear-gradient(to bottom,#C0C0C0,#DCDCDC);
	margin: 5px;
	padding: 5px;
	}
	.th2{
	background:#DCDCDC;
	margin: 5px;
	padding: 5px;
	}
	.th3{
	background:#808080;
	margin: 5px;
	padding: 5px;
	border:3px solid #808080;
	border-radius:10px 10px 0 0;
	}
#table1
{
	width:90%;
	
	position: relative;
	left: 50px;
	top: 25px;
} TD,TH
{
	border:0px solid black;
}

/********************************************* Адаптивные запросы****************************************/
@media screen and (max-width: 1600px) {
	#logo, #logo2 {
		width: 450px;
		height: 150px;
	}
	#logo:hover {
		width: 500px;
		height: 200px;
	}
	#logo2:hover {
		width: 500px;
		height: 200px;
	}
	#logo3 {
		width: 280px;
		height: 190px;
	}
}
/*******************************************Верстка для регистрации**************************************/
.poleReg {
	width: 20%;
	background-color: #fff;
	float: left;
	height: 60vh;
}
.contentReg {
	height:100%;
	width: 60%;
	background-color: white;
	float: left;
	
}
.sidebarReg {
	width: 20%;
	background-color: white;
	height: 60vh;
	float: left;
}
.input1{ 
position:relative;
font-size:21pt;
left:25%;	
padding:10px;
margin:10px;
}
/*кнопка регистрации*/
#button1
{
position:relative;
font-size:21pt;
left:30%;	
padding:10px 58px 10px 58px;
margin:10px;
background:#1E90FF;
color:white;
	
}
#button1:hover{
	color:white;
	background:#191970;
}
/*Конец кнопки*/
#h1Reg{
	margin:20px;
	position:relative;
	left:18%;
}
/*******************************************Верстка для регистрации**************************************/
#menuAvtoriz{
	 background:white;
 	text-decoration:none;
 	font-weight:600;
 	color:black;
 	font-size:18pt;
 	border:3px solid white;
 	border-radius:50px;
	margin:10px;	
}
#menuAvtoriz:hover{
	color:white;
	background:#191970;
	border:5px solid #191970;
}
/*******************************************Верстка для авторизации**************************************/
.poleAuth {
	width: 20%;
	background-color: #fff;
	float: left;
	height: 60vh;
}
.contentAuth {
	height:100%;
	width: 60%;
	background-color: white;
	float: left;
	
}
.sidebarAuth {
	width: 20%;
	background-color: white;
	height: 60vh;
	float: left;
}
.input2{ 
position:relative;
font-size:21pt;
left:27%;	
padding:10px;
margin:10px;
}
#h1Auth{
	position:relative;
	left:35%;
	margin:20px;
}
#button2
{
position:relative;
font-size:21pt;
left:39%;	
padding:10px 58px 10px 58px;
margin:10px;
background:#1E90FF;
color:white;	
}
#button2:hover{
	color:white;
	background:#191970;
}