* {
	margin: 0;
	padding: 0;
}
.wrapper {
	width: 100%;
}
.header {
	width: 100%;
	height: 30vh;
	background: url(image/fon2.jpg);
	position: relative;
}
#logo {
	width: 500px;
	height: 150px;
	position: absolute;
	top: 30px;
	left: 40px;
}
#logo2 {
	width: 500px;
	height: 150px;
	position: absolute;
	top: 30px;
	right: 40px;
}
#logo3 {
	width: 320px;
	height: 188px;
	position: absolute;
	top: 5px;
	left: 525px;
}
.footer {
	width: 100%;
	height: 10vh;
	background:url(image/fon2.jpg);
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
.main_content {
	width: 100%;
	height: 60vh;
}
.content {
	width: 60%;
	background-color: #AAC2E2;
	float: left;
	height: 60vh;
}
.sidebar {
	width: 40%;
	background-color: #E6D3D3;
	height: 60vh;
	float: left;
}